@model System.Data.DataTable
@using System.Data;
@using System.Data.SqlClient;

@{
    ViewBag.Title = "Listar";
}

<h2>Home</h2>

<a>@Html.ActionLink("Crear","Registrar","Persona")</a>
<br></br>
<table border="1">
    <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Fecha</th>
        <th>Direccion</th>
    </tr>

    @foreach (DataRow dr in Model.Rows)
    {
        <tr>
            <td>@dr["codigo"].ToString()</td>
            <td>@dr["nombres"].ToString()</td>
            <td>@dr["apellidos"].ToString()</td>
            <td>@dr["edad"].ToString()</td>
            <td>@dr["fecha"].ToString()</td>
            <td>@dr["direccion"].ToString()</td>
            <td>@Html.ActionLink("Editar","Editar",new {Codigo=dr["codigo"].ToString()})</td>
            <td>@Html.ActionLink("Eliminar", "Eliminar", new {Codigo = dr["codigo"].ToString() })</td>


        </tr>
    }

</table>


